<div class="grid-row">
<div class="grid-col grid-col-9">
  <!-- product -->
  <div class="product">
    <div class="clearfix">
      <div class="left-col">
        <div class="pic">
          <a href="pic/catalog-product/item-1.jpg" rel="fancybox" class="fancybox">
            <img src="pic/catalog-product/item-1.jpg" width="400" height="490" alt="">
            <span><i class="fa fa-plus"></i></span>
          </a>
        </div>

        <ul class="thumbnails">
          <li>
            <a href="pic/catalog-grid/item-1.jpg" rel="fancybox" class="fancybox">
              <img src="pic/catalog-grid/item-1.jpg" alt="">
              <span><i class="fa fa-plus"></i></span>
            </a>
          </li>
          <li>
            <a href="pic/catalog-grid/item-2.jpg" rel="fancybox" class="fancybox">
              <img src="pic/catalog-grid/item-2.jpg" alt="">
              <span><i class="fa fa-plus"></i></span>
            </a>
          </li>
          <li>
            <a href="pic/catalog-grid/item-3.jpg" rel="fancybox" class="fancybox">
              <img src="pic/catalog-grid/item-3.jpg" alt="">
              <span><i class="fa fa-plus"></i></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="right-col">
        <h1>Anycool KDI D528</h1>
        <div class="price">$1,350</div>
        <div class="description">
          <p><span>Quick Overview:</span></p>
          <p>Nam sit amet augue ante. Integer scelerisque dapibus odio gravida dapibus. Mauris tincidunt vitae tortor eu bibendum. Nulla ultrices eu lorem ac fermentum.</p>
        </div>
        <div class="main-features">
          <p><span>Main features:</span></p>
          <ul>
            <li><i class="fa fa-play"></i>Donec turpis diam, vulputate nec velit in, bibendum.</li>
            <li><i class="fa fa-play"></i>Integer fermentum risus eu commodo sagittis.</li>
            <li><i class="fa fa-play"></i>Donec turpis ligula, tincidunt sit amet elit nec, pulvinar.</li>
          </ul>
        </div>
        <div class="quantity">
          <p>Quantity:</p>
          <a href="#" class="minus"></a><input type="text" value="1"><a href="#" class="plus"></a>
        </div>
        <a href="#" class="button button-with-left-icon"><i class="fa fa-shopping-cart"></i> Add to cart</a>
        <div class="categories">Categories: <a href="#">Accessories</a>, <a href="#">Portmones</a>. Tags: <a href="#">peach</a>, <a href="#">shawl</a>, <a href="#">wool</a>.</div>
      </div>
    </div>
  </div>
  <!--/ product -->

  <!-- product tabs -->
  <div class="product-tabs">
    <input type="radio" name="product-tabs" checked="" id="product-tab1" class="product-tab-content"><!--
							--><label for="product-tab1" class="first">Description</label><!--
							--><input type="radio" name="product-tabs" id="product-tab2" class="product-tab-content2"><!--
							--><label for="product-tab2">Additional Info</label><!--
							--><input type="radio" name="product-tabs" id="product-tab3" class="product-tab-content3"><!--
							--><label for="product-tab3" class="last">Reviews (3)</label>
    <div id="product-tab-content1" class="description">
      <p>Quisque ullamcorper nibh ornare metus laoreet, et condimentum felis luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc porta, dolor in condimentum varius, odio lorem semper ante, sit amet malesuada metus risus vitae enim. Donec semper, ipsum aliquet pharetra imperdiet.</p>
      <p>Nam sit amet augue ante. Integer scelerisque dapibus odio gravida dapibus. Mauris tincidunt vitae tortor eu bibendum. Nulla ultrices eu lorem ac fermentum. Aliquam non fringilla lorem, eu ultricies ante. Proin eget leo nec turpis vestibulum porttitor ac nec eros. Vivamus elementum tellus vitae semper mattis. Nulla vel egestas erat.</p>
      <p>Nam sit amet augue ante. Integer scelerisque dapibus odio gravida dapibus. Mauris tincidunt vitae tortor eu bibendum. Nulla ultrices eu lorem ac fermentum.</p>
    </div>
    <div id="product-tab-content2" class="description">
      <p>Nam sit amet augue ante. Integer scelerisque dapibus odio gravida dapibus. Mauris tincidunt vitae tortor eu bibendum. Nulla ultrices eu lorem ac fermentum. Aliquam non fringilla lorem, eu ultricies ante. Proin eget leo nec turpis vestibulum porttitor ac nec eros. Vivamus elementum tellus vitae semper mattis. Nulla vel egestas erat. Quisque ullamcorper nibh ornare metus laoreet, et condimentum felis luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc porta, dolor in condimentum varius, odio lorem semper ante, sit amet malesuada metus risus vitae enim. Donec semper, ipsum aliquet pharetra imperdiet, nunc risus malesuada odio, id tincidunt quam eros eget mauris. Nullam egestas tincidunt mi vel convallis.</p>
      <dl>
        <dt>Weight:</dt>
        <dd>0.9 kg</dd>
        <dt>Color:</dt>
        <dd>White, Red, Black</dd>
        <dt>Dimensions:</dt>
        <dd>30 x 60 x 20 cm</dd>
      </dl>
    </div>
    <div id="product-tab-content3">
      <div class="comments">
        <ul>
          <li>
            <i class="fa fa-user"></i>
            <div class="text">
              <div class="author"><div class="rating"><span style="width:100%"></span></div><a href="#">Cobus Bester</a> &nbsp; June 7, 2014</div>
              <p>Nulla lobortis facilisis eros vitae mollis. Morbi consectetur, tortor ut feugiat rhoncus, nunc augue placerat massa, sit amet laoreet est libero quis nisl. Integer cursus sodales sem eu dapibus. Morbi lobortis eleifend lectus sit amet porttitor. Nam tincidunt congue laoreet.</p>
            </div>
          </li>
          <li>
            <i class="fa fa-user"></i>
            <div class="text">
              <div class="author"><div class="rating"><span style="width:80%"></span></div><a href="#">Andrew</a> &nbsp; June 5, 2014</div>
              <p>Nulla lobortis facilisis eros vitae mollis. Morbi consectetur, tortor ut feugiat rhoncus, nunc augue placerat massa, sit amet laoreet est libero quis nisl. Integer cursus sodales sem eu dapibus. Morbi lobortis eleifend lectus sit amet porttitor. Nam tincidunt congue laoreet.</p>
            </div>
          </li>
          <li>
            <i class="fa fa-user"></i>
            <div class="text">
              <div class="author"><div class="rating"><span style="width:100%"></span></div><a href="#">Coen Jacobs</a> &nbsp; June 2, 2014</div>
              <p>Nulla lobortis facilisis eros vitae mollis. Morbi consectetur, tortor ut feugiat rhoncus, nunc augue placerat massa, sit amet laoreet est libero quis nisl. Integer cursus sodales sem eu dapibus. Morbi lobortis eleifend lectus sit amet porttitor. Nam tincidunt congue laoreet.</p>
            </div>
          </li>
        </ul>
      </div>

      <form action="#" class="add-comment">
        <h2>Add a Review</h2>
        <input type="text" placeholder="Your Name (required)">
        <input type="email" placeholder="Your E-mail (required)">
        <div class="rating">
          <input type="radio" name="rating" value="5" id="rating-5">
          <label for="rating-5"><i></i></label>
          <input type="radio" name="rating" value="4" id="rating-4">
          <label for="rating-4"><i></i></label>
          <input type="radio" name="rating" value="3" id="rating-3">
          <label for="rating-3"><i></i></label>
          <input type="radio" name="rating" value="2" id="rating-2">
          <label for="rating-2"><i></i></label>
          <input type="radio" name="rating" value="1" id="rating-1">
          <label for="rating-1"><i></i></label>
          Your Rating
        </div>
        <textarea rows="10" placeholder="Your Review"></textarea>
        <button type="submit" class="button button-alt">Send</button>
      </form>
    </div>
  </div>
  <!--/ product tabs -->

  <!-- products grid -->
  <section class="products-grid">
    <h2>Related Products</h2>
    <ul>
      <li>
        <div>
          <div class="pic">
            <img src="pic/catalog-grid/item-5.jpg" alt="">
            <span></span>
            <ul>
              <li><a href="pic/catalog-grid/item-5.jpg" class="fa fa-plus fancybox"></a></li>
              <li><a href="shop-product.html" class="fa fa-share"></a></li>
            </ul>
          </div>
          <h3><a href="shop-product.html">HTC Freestyle</a></h3>
          <div class="rating"><span style="width:80%"></span></div>
          <div class="price">$1100</div>
          <a href="#" class="button button-with-left-icon button-xsmall"><i class="fa fa-shopping-cart"></i> Add to cart</a>
        </div>
      </li><!--
							--><li>
      <div>
        <div class="pic">
          <img src="pic/catalog-grid/item-6.jpg" alt="">
          <span></span>
          <ul>
            <li><a href="pic/catalog-grid/item-6.jpg" class="fa fa-plus fancybox"></a></li>
            <li><a href="shop-product.html" class="fa fa-share"></a></li>
          </ul>
        </div>
        <div class="sale">SALE!</div>
        <h3><a href="shop-product.html">Motorola Triumph</a></h3>
        <div class="rating"><span style="width:100%"></span></div>
        <div class="price">$5500</div>
        <a href="#" class="button button-with-left-icon button-xsmall"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
    </li><!--
							--><li>
      <div>
        <div class="pic">
          <img src="pic/catalog-grid/item-7.jpg" alt="">
          <span></span>
          <ul>
            <li><a href="pic/catalog-grid/item-7.jpg" class="fa fa-plus fancybox"></a></li>
            <li><a href="shop-product.html" class="fa fa-share"></a></li>
          </ul>
        </div>
        <h3><a href="shop-product.html">Anycool T818</a></h3>
        <div class="rating"><span style="width:40%"></span></div>
        <div class="price">$4000</div>
        <a href="#" class="button button-with-left-icon button-xsmall"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
    </li><!--
							--><li>
    </li></ul>
  </section>
  <!--/ products grid -->
</div>

<div class="grid-col grid-col-3">
<div class="widget-area">
<!-- widget search -->
<div class="widget widget-search">
  <form action="#">
    <input type="text" placeholder="Search">
    <button type="submit"></button>
    <i class="fa fa-search"></i>
  </form>
</div>
<!--/ widget search -->

<!-- widget filter -->
<div class="widget widget-filter">
  <div class="head"><i class="purple fa fa-crosshairs"></i>Filter By Price</div>
  <form action="#" class="cont">
    <div id="slider" class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a></div>
    <div id="slider-label" class="slider-label">Price: $<span class="from">0</span> — $<span class="to">5000</span></div>
    <button type="submit" class="button button-xsmall">Filter</button>
  </form>
</div>
<!--/ widget filter -->

<!-- widget cart -->
<div class="widget widget-cart">
  <div class="head"><i class="green fa fa-shopping-cart"></i>Shopping cart</div>
  <div class="cont">
    <ul>
      <li>
        <a href="#"><img src="pic/catalog-grid/item-2.jpg" width="54" height="54" alt=""></a>
        <h4><a href="#">Fujifilm Finepix xp50</a></h4>
        <p>1 × $900</p>
      </li>
      <li>
        <a href="#"><img src="pic/catalog-grid/item-6.jpg" width="54" height="54" alt=""></a>
        <h4><a href="#">Motorola Triumph</a></h4>
        <p>1 × $5500</p>
      </li>
    </ul>
    <a href="#" class="fa fa-share"></a>
    <div class="total">Subtotal: £2000.00</div>
  </div>
</div>
<!--/ widget cart -->

<!-- widget categories -->
<div class="widget widget-categories">
  <div class="head"><i class="blue fa fa-align-justify"></i>Product Categories</div>
  <div class="cont">
    <ul>
      <li><a href="#"><i class="fa fa-angle-right"></i>Headphones</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i>Notebook</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i>Phones</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i>Other</a></li>
    </ul>
  </div>
</div>
<!--/ widget categories -->

<!-- widget sellers -->
<div class="widget widget-sellers">
  <div class="head"><i class="light-blue fa fa-star"></i>Best Selers</div>
  <div class="cont">
    <div id="sellers-carousel" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
      <div class="owl-wrapper-outer autoHeight" style="height: 254px;"><div class="owl-wrapper" style="width: 1440px; left: 0px; display: block;"><div class="owl-item" style="width: 240px;"><div class="item">
        <ul>
          <li>
            <a href="#"><img src="pic/catalog-grid/item-4.jpg" width="54" height="54" alt=""></a>
            <h4><a href="#">Alcatel OT-990</a></h4>
            <div class="price">$3100</div>
          </li>
          <li>
            <a href="#"><img src="pic/catalog-grid/item-5.jpg" width="54" height="54" alt=""></a>
            <h4><a href="#">HTC Freestyle</a></h4>
            <div class="price">$1100</div>
          </li>
          <li>
            <a href="#"><img src="pic/catalog-grid/item-7.jpg" width="54" height="54" alt=""></a>
            <h4><a href="#">Anycool T818</a></h4>
            <div class="price">$4000</div>
          </li>
        </ul>
      </div></div><div class="owl-item" style="width: 240px;"><div class="item">
        <ul>
          <li>
            <a href="#"><img src="pic/catalog-grid/item-3.jpg" width="54" height="54" alt=""></a>
            <h4><a href="#">Fujifilm Finepix</a></h4>
            <div class="price">$2300</div>
          </li>
          <li>
            <a href="#"><img src="pic/catalog-grid/item-1.jpg" width="54" height="54" alt=""></a>
            <h4><a href="#">Motorola Triumph</a></h4>
            <div class="price">$1500</div>
          </li>
          <li>
            <a href="#"><img src="pic/catalog-grid/item-2.jpg" width="54" height="54" alt=""></a>
            <h4><a href="#">Fujifilm Finepix</a></h4>
            <div class="price">$900</div>
          </li>
        </ul>
      </div></div><div class="owl-item" style="width: 240px;"><div class="item">
        <ul>
          <li>
            <a href="#"><img src="pic/catalog-grid/item-9.jpg" width="54" height="54" alt=""></a>
            <h4><a href="#">Motorola Droid X</a></h4>
            <div class="price">$3500</div>
          </li>
          <li>
            <a href="#"><img src="pic/catalog-grid/item-8.jpg" width="54" height="54" alt=""></a>
            <h4><a href="#">FLY E176</a></h4>
            <div class="price">$700</div>
          </li>
          <li>
            <a href="#"><img src="pic/catalog-grid/item-7.jpg" width="54" height="54" alt=""></a>
            <h4><a href="#">Anycool T818</a></h4>
            <div class="price">$4000</div>
          </li>
        </ul>
      </div></div></div></div>


      <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div></div></div>
  </div>
  <div class="foot">&nbsp;</div>
</div>
<!--/ widget sellers -->

<!-- widget sellers -->
<div class="widget widget-sellers">
  <div class="head"><i class="orange fa fa-trophy"></i>On Sale</div>
  <div class="cont">
    <div id="sales-carousel" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
      <div class="owl-wrapper-outer autoHeight" style="height: 254px;"><div class="owl-wrapper" style="width: 1440px; left: 0px; display: block;"><div class="owl-item" style="width: 240px;"><div class="item">
        <ul>
          <li>
            <a href="#"><img src="pic/catalog-grid/item-3.jpg" width="54" height="54" alt=""></a>
            <h4><a href="#">Fujifilm Finepix</a></h4>
            <div class="price">$2300</div>
          </li>
          <li>
            <a href="#"><img src="pic/catalog-grid/item-1.jpg" width="54" height="54" alt=""></a>
            <h4><a href="#">Motorola Triumph</a></h4>
            <div class="price">$1500</div>
          </li>
          <li>
            <a href="#"><img src="pic/catalog-grid/item-2.jpg" width="54" height="54" alt=""></a>
            <h4><a href="#">Fujifilm Finepix</a></h4>
            <div class="price">$900</div>
          </li>
        </ul>
      </div></div><div class="owl-item" style="width: 240px;"><div class="item">
        <ul>
          <li>
            <a href="#"><img src="pic/catalog-grid/item-4.jpg" width="54" height="54" alt=""></a>
            <h4><a href="#">Alcatel OT-990</a></h4>
            <div class="price">$3100</div>
          </li>
          <li>
            <a href="#"><img src="pic/catalog-grid/item-5.jpg" width="54" height="54" alt=""></a>
            <h4><a href="#">HTC Freestyle</a></h4>
            <div class="price">$1100</div>
          </li>
          <li>
            <a href="#"><img src="pic/catalog-grid/item-7.jpg" width="54" height="54" alt=""></a>
            <h4><a href="#">Anycool T818</a></h4>
            <div class="price">$4000</div>
          </li>
        </ul>
      </div></div><div class="owl-item" style="width: 240px;"><div class="item">
        <ul>
          <li>
            <a href="#"><img src="pic/catalog-grid/item-9.jpg" width="54" height="54" alt=""></a>
            <h4><a href="#">Motorola Droid X</a></h4>
            <div class="price">$3500</div>
          </li>
          <li>
            <a href="#"><img src="pic/catalog-grid/item-8.jpg" width="54" height="54" alt=""></a>
            <h4><a href="#">FLY E176</a></h4>
            <div class="price">$700</div>
          </li>
          <li>
            <a href="#"><img src="pic/catalog-grid/item-7.jpg" width="54" height="54" alt=""></a>
            <h4><a href="#">Anycool T818</a></h4>
            <div class="price">$4000</div>
          </li>
        </ul>
      </div></div></div></div>


      <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div></div></div>
  </div>
  <div class="foot">&nbsp;</div>
</div>
<!--/ widget sellers -->

<!-- widget tags -->
<div class="widget widget-tags">
  <div class="head"><i class="purple fa fa-tags"></i>Tags</div>
  <div class="cont">
    <a href="#">Headphones</a><!--
									--><a href="#">iPhone</a><!--
									--><a href="#">Laptop</a><!--
									--><a href="#">Music</a><!--
									--><a href="#">Quad-Core</a><!--
									--><a href="#">Rooter</a><!--
									--><a href="#">Tablet</a><!--
									--><a href="#">TV Watch</a><!--
									--><a href="#">WiFi</a><!--
									--><a href="#">Art</a><!--
									--><a href="#">Beauty</a><!--
									--><a href="#">Cat</a>
  </div>
</div>
<!--/ widget tags -->
</div>
</div>
</div>