<div class="grid-row">
<div class="grid-col grid-col-9">
<!-- cart products -->
<div class="cart-products">
  <table>
    <tbody><tr>
      <th class="pic"></th>
      <th class="name">Product</th>
      <th class="price">Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <th class="remove"></th>
    </tr>
    <tr>
      <td class="pic"><a href="#"><img src="pic/catalog-grid/item-2.jpg" width="54" height="54" alt=""></a></td>
      <td class="name"><h4><a href="#">Fujifilm Finepix xp50</a></h4></td>
      <td class="price">$900</td>
      <td class="quantity">
        <div><a href="#" class="minus"></a><input type="text" value="1"><a href="#" class="plus"></a></div>
      </td>
      <td class="price">$900</td>
      <td class="remove"><a href="#" class="fa fa-times"></a></td>
    </tr>
    <tr>
      <td class="pic"><a href="#"><img src="pic/catalog-grid/item-6.jpg" width="54" height="54" alt=""></a></td>
      <td class="name"><h4><a href="#">Motorola Triumph</a></h4></td>
      <td class="price">$5500</td>
      <td class="quantity">
        <div><a href="#" class="minus"></a><input type="text" value="1"><a href="#" class="plus"></a></div>
      </td>
      <td class="price">$5500</td>
      <td class="remove"><a href="#" class="fa fa-times"></a></td>
    </tr>
    <tr>
      <td colspan="6">
        <div class="coupon">
          <input type="text" placeholder="Coupon code">
          <button type="submit" class="button">Apply Coupon</button>
        </div>
        <button type="submit" class="button">Update Cart</button><!--
										--><button type="submit" class="button">Proceed to Checkout</button>
      </td>
    </tr>
    </tbody></table>
</div>
<!--/ cart products -->

<!-- cart totals -->
<div class="cart-totals">
  <h2>Cart Totals</h2>
  <table>
    <tbody><tr>
      <th>Cart Subtotal</th>
      <td>$6400</td>
    </tr>
    <tr>
      <th>Shipping and Handling</th>
      <td>Free Shipping</td>
    </tr>
    <tr>
      <th>Order Total</th>
      <td>$6400</td>
    </tr>
    </tbody></table>
</div>
<!--/ cart totals -->

<!-- shipping calculator -->
<div class="shipping-calculator">
<a href="#" class="button button-with-right-icon button-alt"><i class="fa fa-angle-down"></i>Calculate Shipping</a>
<form action="#">
<select>
<option value="">Select a country…</option>
<option value="AX">Åland Islands</option>
<option value="AF">Afghanistan</option>
<option value="AL">Albania</option>
<option value="DZ">Algeria</option>
<option value="AD">Andorra</option>
<option value="AO">Angola</option>
<option value="AI">Anguilla</option>
<option value="AQ">Antarctica</option>
<option value="AG">Antigua and Barbuda</option>
<option value="AR">Argentina</option>
<option value="AM">Armenia</option>
<option value="AW">Aruba</option>
<option value="AU">Australia</option>
<option value="AT">Austria</option>
<option value="AZ">Azerbaijan</option>
<option value="BS">Bahamas</option>
<option value="BH">Bahrain</option>
<option value="BD">Bangladesh</option>
<option value="BB">Barbados</option>
<option value="BY">Belarus</option>
<option value="PW">Belau</option>
<option value="BE">Belgium</option>
<option value="BZ">Belize</option>
<option value="BJ">Benin</option>
<option value="BM">Bermuda</option>
<option value="BT">Bhutan</option>
<option value="BO">Bolivia</option>
<option value="BQ">Bonaire, Saint Eustatius and Saba</option>
<option value="BA">Bosnia and Herzegovina</option>
<option value="BW">Botswana</option>
<option value="BV">Bouvet Island</option>
<option value="BR">Brazil</option>
<option value="IO">British Indian Ocean Territory</option>
<option value="VG">British Virgin Islands</option>
<option value="BN">Brunei</option>
<option value="BG">Bulgaria</option>
<option value="BF">Burkina Faso</option>
<option value="BI">Burundi</option>
<option value="KH">Cambodia</option>
<option value="CM">Cameroon</option>
<option value="CA">Canada</option>
<option value="CV">Cape Verde</option>
<option value="KY">Cayman Islands</option>
<option value="CF">Central African Republic</option>
<option value="TD">Chad</option>
<option value="CL">Chile</option>
<option value="CN">China</option>
<option value="CX">Christmas Island</option>
<option value="CC">Cocos (Keeling) Islands</option>
<option value="CO">Colombia</option>
<option value="KM">Comoros</option>
<option value="CG">Congo (Brazzaville)</option>
<option value="CD">Congo (Kinshasa)</option>
<option value="CK">Cook Islands</option>
<option value="CR">Costa Rica</option>
<option value="HR">Croatia</option>
<option value="CU">Cuba</option>
<option value="CW">CuraÇao</option>
<option value="CY">Cyprus</option>
<option value="CZ">Czech Republic</option>
<option value="DK">Denmark</option>
<option value="DJ">Djibouti</option>
<option value="DM">Dominica</option>
<option value="DO">Dominican Republic</option>
<option value="EC">Ecuador</option>
<option value="EG">Egypt</option>
<option value="SV">El Salvador</option>
<option value="GQ">Equatorial Guinea</option>
<option value="ER">Eritrea</option>
<option value="EE">Estonia</option>
<option value="ET">Ethiopia</option>
<option value="FK">Falkland Islands</option>
<option value="FO">Faroe Islands</option>
<option value="FJ">Fiji</option>
<option value="FI">Finland</option>
<option value="FR">France</option>
<option value="GF">French Guiana</option>
<option value="PF">French Polynesia</option>
<option value="TF">French Southern Territories</option>
<option value="GA">Gabon</option>
<option value="GM">Gambia</option>
<option value="GE">Georgia</option>
<option value="DE">Germany</option>
<option value="GH">Ghana</option>
<option value="GI">Gibraltar</option>
<option value="GR">Greece</option>
<option value="GL">Greenland</option>
<option value="GD">Grenada</option>
<option value="GP">Guadeloupe</option>
<option value="GT">Guatemala</option>
<option value="GG">Guernsey</option>
<option value="GN">Guinea</option>
<option value="GW">Guinea-Bissau</option>
<option value="GY">Guyana</option>
<option value="HT">Haiti</option>
<option value="HM">Heard Island and McDonald Islands</option>
<option value="HN">Honduras</option>
<option value="HK">Hong Kong</option>
<option value="HU">Hungary</option>
<option value="IS">Iceland</option>
<option value="IN">India</option>
<option value="ID">Indonesia</option>
<option value="IR">Iran</option>
<option value="IQ">Iraq</option>
<option value="IM">Isle of Man</option>
<option value="IL">Israel</option>
<option value="IT">Italy</option>
<option value="CI">Ivory Coast</option>
<option value="JM">Jamaica</option>
<option value="JP">Japan</option>
<option value="JE">Jersey</option>
<option value="JO">Jordan</option>
<option value="KZ">Kazakhstan</option>
<option value="KE">Kenya</option>
<option value="KI">Kiribati</option>
<option value="KW">Kuwait</option>
<option value="KG">Kyrgyzstan</option>
<option value="LA">Laos</option>
<option value="LV">Latvia</option>
<option value="LB">Lebanon</option>
<option value="LS">Lesotho</option>
<option value="LR">Liberia</option>
<option value="LY">Libya</option>
<option value="LI">Liechtenstein</option>
<option value="LT">Lithuania</option>
<option value="LU">Luxembourg</option>
<option value="MO">Macao S.A.R., China</option>
<option value="MK">Macedonia</option>
<option value="MG">Madagascar</option>
<option value="MW">Malawi</option>
<option value="MY">Malaysia</option>
<option value="MV">Maldives</option>
<option value="ML">Mali</option>
<option value="MT">Malta</option>
<option value="MH">Marshall Islands</option>
<option value="MQ">Martinique</option>
<option value="MR">Mauritania</option>
<option value="MU">Mauritius</option>
<option value="YT">Mayotte</option>
<option value="MX">Mexico</option>
<option value="FM">Micronesia</option>
<option value="MD">Moldova</option>
<option value="MC">Monaco</option>
<option value="MN">Mongolia</option>
<option value="ME">Montenegro</option>
<option value="MS">Montserrat</option>
<option value="MA">Morocco</option>
<option value="MZ">Mozambique</option>
<option value="MM">Myanmar</option>
<option value="NA">Namibia</option>
<option value="NR">Nauru</option>
<option value="NP">Nepal</option>
<option value="NL">Netherlands</option>
<option value="AN">Netherlands Antilles</option>
<option value="NC">New Caledonia</option>
<option value="NZ">New Zealand</option>
<option value="NI">Nicaragua</option>
<option value="NE">Niger</option>
<option value="NG">Nigeria</option>
<option value="NU">Niue</option>
<option value="NF">Norfolk Island</option>
<option value="KP">North Korea</option>
<option value="NO">Norway</option>
<option value="OM">Oman</option>
<option value="PK">Pakistan</option>
<option value="PS">Palestinian Territory</option>
<option value="PA">Panama</option>
<option value="PG">Papua New Guinea</option>
<option value="PY">Paraguay</option>
<option value="PE">Peru</option>
<option value="PH">Philippines</option>
<option value="PN">Pitcairn</option>
<option value="PL">Poland</option>
<option value="PT">Portugal</option>
<option value="QA">Qatar</option>
<option value="IE">Republic of Ireland</option>
<option value="RE">Reunion</option>
<option value="RO">Romania</option>
<option value="RU">Russia</option>
<option value="RW">Rwanda</option>
<option value="ST">São Tomé and Príncipe</option>
<option value="BL">Saint Barthélemy</option>
<option value="SH">Saint Helena</option>
<option value="KN">Saint Kitts and Nevis</option>
<option value="LC">Saint Lucia</option>
<option value="SX">Saint Martin (Dutch part)</option>
<option value="MF">Saint Martin (French part)</option>
<option value="PM">Saint Pierre and Miquelon</option>
<option value="VC">Saint Vincent and the Grenadines</option>
<option value="SM">San Marino</option>
<option value="SA">Saudi Arabia</option>
<option value="SN">Senegal</option>
<option value="RS">Serbia</option>
<option value="SC">Seychelles</option>
<option value="SL">Sierra Leone</option>
<option value="SG">Singapore</option>
<option value="SK">Slovakia</option>
<option value="SI">Slovenia</option>
<option value="SB">Solomon Islands</option>
<option value="SO">Somalia</option>
<option value="ZA">South Africa</option>
<option value="GS">South Georgia/Sandwich Islands</option>
<option value="KR">South Korea</option>
<option value="SS">South Sudan</option>
<option value="ES">Spain</option>
<option value="LK">Sri Lanka</option>
<option value="SD">Sudan</option>
<option value="SR">Suriname</option>
<option value="SJ">Svalbard and Jan Mayen</option>
<option value="SZ">Swaziland</option>
<option value="SE">Sweden</option>
<option value="CH">Switzerland</option>
<option value="SY">Syria</option>
<option value="TW">Taiwan</option>
<option value="TJ">Tajikistan</option>
<option value="TZ">Tanzania</option>
<option value="TH">Thailand</option>
<option value="TL">Timor-Leste</option>
<option value="TG">Togo</option>
<option value="TK">Tokelau</option>
<option value="TO">Tonga</option>
<option value="TT">Trinidad and Tobago</option>
<option value="TN">Tunisia</option>
<option value="TR">Turkey</option>
<option value="TM">Turkmenistan</option>
<option value="TC">Turks and Caicos Islands</option>
<option value="TV">Tuvalu</option>
<option value="UG">Uganda</option>
<option value="UA">Ukraine</option>
<option value="AE">United Arab Emirates</option>
<option value="GB">United Kingdom (UK)</option>
<option value="US">United States (US)</option>
<option value="UY">Uruguay</option>
<option value="UZ">Uzbekistan</option>
<option value="VU">Vanuatu</option>
<option value="VA">Vatican</option>
<option value="VE">Venezuela</option>
<option value="VN">Vietnam</option>
<option value="WF">Wallis and Futuna</option>
<option value="EH">Western Sahara</option>
<option value="WS">Western Samoa</option>
<option value="YE">Yemen</option>
<option value="ZM">Zambia</option>
<option value="ZW">Zimbabwe</option>
</select>
<input type="text" placeholder="State / county">
<input type="text" placeholder="Postcode / Zip">
<button type="submit" class="button">Update Totals</button>
</form>
</div>
<!--/ shipping calculator -->
</div>

<div class="grid-col grid-col-3">
  <div class="widget-area">
    <!-- widget search -->
    <div class="widget widget-search">
      <form action="#">
        <input type="text" placeholder="Search">
        <button type="submit"></button>
        <i class="fa fa-search"></i>
      </form>
    </div>
    <!--/ widget search -->

    <!-- widget categories -->
    <div class="widget widget-categories">
      <div class="head"><i class="blue fa fa-align-justify"></i>Product Categories</div>
      <div class="cont">
        <ul>
          <li><a href="#"><i class="fa fa-angle-right"></i>Headphones</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i>Notebook</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i>Phones</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i>Other</a></li>
        </ul>
      </div>
    </div>
    <!--/ widget categories -->

    <!-- widget sellers -->
    <div class="widget widget-sellers">
      <div class="head"><i class="light-blue fa fa-star"></i>Best Selers</div>
      <div class="cont">
        <div id="sellers-carousel" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
          <div class="owl-wrapper-outer autoHeight" style="height: 254px;"><div class="owl-wrapper" style="width: 1440px; left: 0px; display: block;"><div class="owl-item" style="width: 240px;"><div class="item">
            <ul>
              <li>
                <a href="#"><img src="pic/catalog-grid/item-4.jpg" width="54" height="54" alt=""></a>
                <h4><a href="#">Alcatel OT-990</a></h4>
                <div class="price">$3100</div>
              </li>
              <li>
                <a href="#"><img src="pic/catalog-grid/item-5.jpg" width="54" height="54" alt=""></a>
                <h4><a href="#">HTC Freestyle</a></h4>
                <div class="price">$1100</div>
              </li>
              <li>
                <a href="#"><img src="pic/catalog-grid/item-7.jpg" width="54" height="54" alt=""></a>
                <h4><a href="#">Anycool T818</a></h4>
                <div class="price">$4000</div>
              </li>
            </ul>
          </div></div><div class="owl-item" style="width: 240px;"><div class="item">
            <ul>
              <li>
                <a href="#"><img src="pic/catalog-grid/item-3.jpg" width="54" height="54" alt=""></a>
                <h4><a href="#">Fujifilm Finepix</a></h4>
                <div class="price">$2300</div>
              </li>
              <li>
                <a href="#"><img src="pic/catalog-grid/item-1.jpg" width="54" height="54" alt=""></a>
                <h4><a href="#">Motorola Triumph</a></h4>
                <div class="price">$1500</div>
              </li>
              <li>
                <a href="#"><img src="pic/catalog-grid/item-2.jpg" width="54" height="54" alt=""></a>
                <h4><a href="#">Fujifilm Finepix</a></h4>
                <div class="price">$900</div>
              </li>
            </ul>
          </div></div><div class="owl-item" style="width: 240px;"><div class="item">
            <ul>
              <li>
                <a href="#"><img src="pic/catalog-grid/item-9.jpg" width="54" height="54" alt=""></a>
                <h4><a href="#">Motorola Droid X</a></h4>
                <div class="price">$3500</div>
              </li>
              <li>
                <a href="#"><img src="pic/catalog-grid/item-8.jpg" width="54" height="54" alt=""></a>
                <h4><a href="#">FLY E176</a></h4>
                <div class="price">$700</div>
              </li>
              <li>
                <a href="#"><img src="pic/catalog-grid/item-7.jpg" width="54" height="54" alt=""></a>
                <h4><a href="#">Anycool T818</a></h4>
                <div class="price">$4000</div>
              </li>
            </ul>
          </div></div></div></div>


          <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div></div></div>
      </div>
      <div class="foot">&nbsp;</div>
    </div>
    <!--/ widget sellers -->

    <!-- widget sellers -->
    <div class="widget widget-sellers">
      <div class="head"><i class="orange fa fa-trophy"></i>On Sale</div>
      <div class="cont">
        <div id="sales-carousel" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
          <div class="owl-wrapper-outer autoHeight" style="height: 254px;"><div class="owl-wrapper" style="width: 1440px; left: 0px; display: block;"><div class="owl-item" style="width: 240px;"><div class="item">
            <ul>
              <li>
                <a href="#"><img src="pic/catalog-grid/item-3.jpg" width="54" height="54" alt=""></a>
                <h4><a href="#">Fujifilm Finepix</a></h4>
                <div class="price">$2300</div>
              </li>
              <li>
                <a href="#"><img src="pic/catalog-grid/item-1.jpg" width="54" height="54" alt=""></a>
                <h4><a href="#">Motorola Triumph</a></h4>
                <div class="price">$1500</div>
              </li>
              <li>
                <a href="#"><img src="pic/catalog-grid/item-2.jpg" width="54" height="54" alt=""></a>
                <h4><a href="#">Fujifilm Finepix</a></h4>
                <div class="price">$900</div>
              </li>
            </ul>
          </div></div><div class="owl-item" style="width: 240px;"><div class="item">
            <ul>
              <li>
                <a href="#"><img src="pic/catalog-grid/item-4.jpg" width="54" height="54" alt=""></a>
                <h4><a href="#">Alcatel OT-990</a></h4>
                <div class="price">$3100</div>
              </li>
              <li>
                <a href="#"><img src="pic/catalog-grid/item-5.jpg" width="54" height="54" alt=""></a>
                <h4><a href="#">HTC Freestyle</a></h4>
                <div class="price">$1100</div>
              </li>
              <li>
                <a href="#"><img src="pic/catalog-grid/item-7.jpg" width="54" height="54" alt=""></a>
                <h4><a href="#">Anycool T818</a></h4>
                <div class="price">$4000</div>
              </li>
            </ul>
          </div></div><div class="owl-item" style="width: 240px;"><div class="item">
            <ul>
              <li>
                <a href="#"><img src="pic/catalog-grid/item-9.jpg" width="54" height="54" alt=""></a>
                <h4><a href="#">Motorola Droid X</a></h4>
                <div class="price">$3500</div>
              </li>
              <li>
                <a href="#"><img src="pic/catalog-grid/item-8.jpg" width="54" height="54" alt=""></a>
                <h4><a href="#">FLY E176</a></h4>
                <div class="price">$700</div>
              </li>
              <li>
                <a href="#"><img src="pic/catalog-grid/item-7.jpg" width="54" height="54" alt=""></a>
                <h4><a href="#">Anycool T818</a></h4>
                <div class="price">$4000</div>
              </li>
            </ul>
          </div></div></div></div>


          <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div></div></div>
      </div>
      <div class="foot">&nbsp;</div>
    </div>
    <!--/ widget sellers -->

    <!-- widget tags -->
    <div class="widget widget-tags">
      <div class="head"><i class="purple fa fa-tags"></i>Tags</div>
      <div class="cont">
        <a href="#">Headphones</a><!--
									--><a href="#">iPhone</a><!--
									--><a href="#">Laptop</a><!--
									--><a href="#">Music</a><!--
									--><a href="#">Quad-Core</a><!--
									--><a href="#">Rooter</a><!--
									--><a href="#">Tablet</a><!--
									--><a href="#">TV Watch</a><!--
									--><a href="#">WiFi</a><!--
									--><a href="#">Art</a><!--
									--><a href="#">Beauty</a><!--
									--><a href="#">Cat</a>
      </div>
    </div>
    <!--/ widget tags -->
  </div>
</div>
</div>