




<section id="post4" class="page-content-alt">
  <div class="grid-row composer">
    <div class="columns-row">
      <div class="columns-col columns-col-6">
        <div class="wysiwyg picture-cont">
          <img class="wow fadeInUp animated ipad animated" alt="" src="/assets/pic/slider/post4/ipad.png" style="visibility: visible; -webkit-animation: fadeInUp;">
          <img class="wow fadeInLeft animated left-window animated" alt="" data-wow-delay="0.2s" data-wow-duration="0.5s" src="/assets/pic/slider/post4/left-window.png" style="visibility: visible; -webkit-animation: fadeInLeft 0.5s 0.2s;">
          <img class="wow fadeInRight animated right-window animated" alt="" data-wow-delay="0.2s" data-wow-duration="0.5s" src="/assets/pic/slider/post4/right-window.png" style="visibility: visible; -webkit-animation: fadeInRight 0.5s 0.2s;">
          <img class="wow fadeInUp animated tools-icon animated" alt="" data-wow-delay="0.5s" data-wow-duration="0.5s" src="/assets/pic/slider/post4/tools-icon.png" style="visibility: visible; -webkit-animation: fadeInUp 0.5s 0.5s;">
        </div>
      </div>
      <div class="columns-col columns-col-6">
        <h1 class="wow fadeInRight animated animated" data-wow-duration="1.0s" style="visibility: visible; -webkit-animation: fadeInRight 1s;">iOS 8-inspired<br><span class="colored">Design</span></h1>
        <p class="wow fadeInRight animated animated" data-wow-delay="0.3s" data-wow-duration="1.0s" style="visibility: visible; -webkit-animation: fadeInRight 1s 0.3s;">Clean design, inspired by iOS 8. <br>Complete with "flat" graphics and copious white space.</p>
      </div>
    </div>
  </div>
</section>





<section class="page-content-alt">
  <div class="grid-row composer">

    <div class="columns-row">
      <div class="columns-col columns-col-6 wow fadeInLeft animated" style="visibility: visible; -webkit-animation: fadeInLeft;">
        <h1>About our product</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo nisl quis tincidunt consequat. Nullam eros ante, commodo id dolor eu, fringilla consectetur mauris. Etiam id sollicitudin ligula. Curabitur eget eros in eros ullamcorper mattis eu eget ante. In ac lacinia lectus. Donec condimentum aliquam est pharetra in.</p>
        <br><br>
        <ul class="list">
          <li class="active"><i class="fa fa-play"></i>Donec turpis diam, vulputate nec velit in.</li>
          <li><i class="fa fa-play"></i>Integer fermentum risus eu commodo sagittis.</li>
          <li><i class="fa fa-play"></i>Donec turpis ligula, tincidunt sit amet elit nec, pulvinar.</li>
          <li><i class="fa fa-play"></i>Integer fermentum risus eu commodo sagittis.</li>
        </ul>
        <br><br>
        <a href="#" class="button">View Project</a>
      </div>
      <div class="columns-col columns-col-6 wow fadeInRight animated" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation: fadeInRight 0.3s;">
        <div class="wysiwyg">
          <img src="/assets/pic/about-product.png" alt="" class="pic pic-clear full-width">
        </div>
      </div>
    </div>
  </div>
</section>





<section class="page-content-alt">
  <div class="grid-row composer">

    <div class="columns-row">
      <div class="columns-col columns-col-6 wow fadeInLeft animated" style="visibility: visible; -webkit-animation: fadeInLeft;">
        <h1>About our product</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo nisl quis tincidunt consequat. Nullam eros ante, commodo id dolor eu, fringilla consectetur mauris. Etiam id sollicitudin ligula. Curabitur eget eros in eros ullamcorper mattis eu eget ante. In ac lacinia lectus. Donec condimentum aliquam est pharetra in.</p>
        <br><br>
        <ul class="list">
          <li class="active"><i class="fa fa-play"></i>Donec turpis diam, vulputate nec velit in.</li>
          <li><i class="fa fa-play"></i>Integer fermentum risus eu commodo sagittis.</li>
          <li><i class="fa fa-play"></i>Donec turpis ligula, tincidunt sit amet elit nec, pulvinar.</li>
          <li><i class="fa fa-play"></i>Integer fermentum risus eu commodo sagittis.</li>
        </ul>
        <br><br>
        <a href="#" class="button">View Project</a>
      </div>
      <div class="columns-col columns-col-6 wow fadeInRight animated" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation: fadeInRight 0.3s;">
        <div class="wysiwyg">
          <img src="/assets/pic/about-product.png" alt="" class="pic pic-clear full-width">
        </div>
      </div>
    </div>
  </div>
</section>