<footer class="page-footer-bottom">
  <div class="grid-row">
    <!-- secondary nav -->
    <nav class="secondary-nav">
      <ul>
        <li><a href="#">Home</a></li><!--
							--><li><a href="#">Features</a></li><!--
							--><li><a href="#">Pages</a></li><!--
							--><li><a href="#">Portfolio</a></li><!--
							--><li><a href="#">Blog</a></li><!--
							--><li><a href="#">Shop</a></li><!--
							--><li><a href="#">Contacts</a></li>
      </ul>
    </nav>
    <!--/ secondary nav -->

    <!-- copyrights -->
    <div class="copyrights">© 2014 - "the 8" Template. All rights reserved.</div>
    <!--/ copyrights -->
  </div>
</footer>