<header class="page-header-top">
  <div class="grid-row">
    <div class="row">
      <!-- language selector -->
      <div class="language-selector">
        <i class="fa fa-globe"></i>
        <span>Change your language:</span>
        <div>
          <a href="#">English<i class="fa fa-angle-down"></i></a>
          <ul>
            <li><a href="#">French</a></li>
            <li><a href="#">German</a></li>
            <li><a href="#">Сhinese</a></li>
            <li><a href="#">Japanese</a></li>
          </ul>
        </div>
      </div>
      <!--/ language selector -->
    </div>

    <div class="row">
      <!-- cart summary -->
      <div class="cart-summary">
        <i class="fa fa-shopping-cart"></i>
        <span>My cart:</span>
        <div>
          <a href="#">0 items<i class="fa fa-angle-down"></i></a>
          <ul>
            <li>
              <a href="#"><img src="assets/pic/catalog-grid/item-2.jpg" width="54" height="54"></a>
              <h4><a href="#">Fujifilm Finepix xp50</a></h4>
              <p>1 × $900</p>
            </li>
            <li>
              <a href="#"><img src="/images/pic/catalog-grid/item-6.jpg" width="54" height="54" alt=""></a>
              <h4><a href="#">Motorola Triumph</a></h4>
              <p>1 × $5500</p>
            </li>
            <li class="subtotal">Subtotal: $6400.00</li>
            <li class="total">
              <a href="#"><i class="fa fa-shopping-cart"></i>&nbsp; View Cart</a>
              <a href="#">Checkout &nbsp;<i class="fa fa-share"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!--/ cart summary -->
    </div>

    <div class="row">
      <!-- follow us -->
      <div class="follow-us">
        <a href="#" class="fa fa-dribbble"></a>
        <a href="#" class="fa fa-tumblr"></a>
        <a href="#" class="fa fa-rss"></a>
        <a href="#" class="fa fa-skype"></a>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
      </div>
      <!--/ follow us -->
    </div>

    <a href="#" id="page-header-top-switcher" class="switcher"></a>
  </div>
</header>