<div class="page-title">
  <div class="grid-row">
    <h1><i class="fa fa-angle-right"></i>iOS8 Inspired Design</h1>
    <nav class="bread-crumbs">
      <a href="#">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
      <a href="#">Features</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
      <span>iOS8 Inspired Design</span>
    </nav>
  </div>
</div>