<section class="page-content">
  <div class="grid-row composer">
    <h1 class="center">Frequently Asked Questions</h1>
    <p class="center">Donec convallis a velit nec ultricies. Vestibulum elementum neque vitae orci vehicula, ac varius mi fringilla. Nullam molestie lectus vitae lorem aliquet, quis rutrum quam blandit. Nunc arcu mi, blandit ac nisl ut, lacinia dignissim massa. Nulla ultricies in quam id sagittis. Nunc arcu nisi, tempor non lectus id, pharetra euismod mi. Cras elit magna, feugiat non semper ac, convallis ac mauris. Maecenas vulputate metus sed nisi dictum dictum. Integer porta id libero vitae luctus. Curabitur sodales sem non ipsum lobortis dapibus.</p>


    <br>
    <br>

    hola

    <dl class="accordion">
      <dt class=""><i></i>Sed ac nibh id lectus tincidunt vulputate ullamcorper in dui.</dt>
      <dd style="display: none;">Pellentesque eget odio a tortor dignissim laoreet sed ac erat. Aenean egestas ultrices turpis, et egestas lectus rhoncus vel. Curabitur mattis nibh in turpis imperdiet rutrum. Pellentesque elementum urna malesuada, dignissim massa vel, mollis leo. Ut purus nisl, hendrerit eu aliquam vitae, elementum ut arcu. Ut sit amet mattis mi. Vestibulum vel aliquet sapien. Quisque tempor elementum diam at imperdiet. Suspendisse malesuada pretium orci sed posuere. Sed nisi vel scelerisque sollicitudin, vestibulum sed justo.</dd>
      <dt class=""><i></i>Proin feugiat tellus nisl, ut elementum metus tincidunt nec. Donec non dolor ultricies, consequat sapien a, ultrices est.</dt>
      <dd style="display: none;">Pellentesque eget odio a tortor dignissim laoreet sed ac erat. Aenean egestas ultrices turpis, et egestas lectus rhoncus vel. Curabitur mattis nibh in turpis imperdiet rutrum. Pellentesque elementum urna malesuada, dignissim massa vel, mollis leo. Ut purus nisl, hendrerit eu aliquam vitae, elementum ut arcu. Ut sit amet mattis mi. Vestibulum vel aliquet sapien. Quisque tempor elementum diam at imperdiet. Suspendisse malesuada pretium orci sed posuere. Sed nisi orci, facilisis vel scelerisque sollicitudin, sed justo.</dd>
      <dt class=""><i></i>In et pretium sem. Integer gravida enim a lacus ullamcorper venenatis. Pellentesque et ultricies mauris.</dt>
      <dd style="display: none;">Pellentesque eget odio a tortor dignissim laoreet sed ac erat. Aenean egestas ultrices turpis, et egestas lectus rhoncus vel. Curabitur mattis nibh in turpis imperdiet rutrum. Pellentesque elementum urna malesuada, dignissim massa vel, mollis leo. Ut purus nisl, hendrerit eu aliquam vitae, elementum ut arcu. Ut sit amet mattis mi. Vestibulum vel aliquet sapien. Quisque tempor elementum diam at imperdiet. Suspendisse malesuada pretium orci sed posuere. Sed nisi orci, facilisis vel scelerisque sollicitudin, vestibulum justo.</dd>
      <dt class=""><i></i>Etiam eget lorem commodo, sodales neque ac, dignissim nunc. Cras vitae vehicula lectus, eu aliquet leo. Sed congue ornare.</dt>
      <dd style="display: none;">Pellentesque eget odio a tortor dignissim laoreet sed ac erat. Aenean egestas ultrices turpis, et egestas lectus rhoncus vel. Curabitur mattis nibh in turpis imperdiet rutrum. Pellentesque elementum urna malesuada, dignissim massa vel, mollis leo. Ut purus nisl, hendrerit eu aliquam vitae, elementum ut arcu. Ut sit amet mattis mi. Vestibulum vel aliquet sapien. Quisque tempor elementum diam at imperdiet. Suspendisse malesuada pretium orci sed posuere. Sed nisi orci, facilisis vel scelerisque sollicitudin, vestibulum justo.</dd>
      <dt class=""><i></i>Donec pretium tortor quis magna iaculis lobortis. Etiam varius, sapien quis aliquet pulvinar, lectus nisi bibendum lectus.</dt>
      <dd style="display: none;">Curabitur mattis nibh in turpis imperdiet rutrum. Pellentesque elementum urna malesuada, dignissim massa vel, mollis leo. Ut purus nisl, hendrerit eu aliquam vitae, elementum ut arcu. Ut sit amet mattis mi. Vestibulum vel aliquet sapien. Quisque tempor elementum diam at imperdiet. Suspendisse malesuada pretium orci sed posuere. Sed nisi orci, facilisis vel scelerisque sollicitudin, vestibulum justo.</dd>
      <dt class=""><i></i>Pellentesque eget odio a tortor dignissim laoreet sed ac erat. Aenean egestas ultrices turpis, et egestas lectus rhoncus vel.</dt>
      <dd style="display: none;">Pellentesque eget odio a tortor dignissim laoreet sed ac erat. Aenean egestas ultrices turpis, et egestas lectus rhoncus vel. Curabitur mattis nibh in turpis imperdiet rutrum. Pellentesque elementum urna malesuada, dignissim massa vel, mollis leo. Ut purus nisl, hendrerit eu aliquam vitae, elementum ut arcu. Ut sit amet mattis mi. Vestibulum vel aliquet sapien.</dd>
    </dl>
  </div>
</section>
